:root {
    /* colors */
    --primary: #f2f2fD;
    --background-color: #f8fafb;
    --cobalt-blue: #151149;
    --input-color: #A1A0B6;
    --button-purple: #E3E5F5;
    --button-purple-highlight: #596fff;
    --button-purple-outline: #bbc4ff;
    /* ---------old */
    --black: #000000;
    --white: #ffffff;
    --smoky-white: #f3f2f2;
    --gray: #545454;
    --ghost-light: #f4f3f6;
    --ghost-dark: #f7f6f8;
    --ghost-white: #f2eeff;
    --silver: #5a687b;
    --purple: #623ce7;
    --light-purple: #613ce79e;
    --dark-purple: #492ea8;
    --purplish-light: #c0bccea4;
    --pale-purplish: #9e82ffa4;
    --focus-opacity: 0.3;
    --hover-opacity: 0.7;
    --error: #ff4267;
    /* shadow */
    --box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222);
    /* element offsets */
    --icon-offset: 10px;
    --input-offset: 20px;
    /* global offsets */
    --offset-s: 11px;
    --offset-l: 31px;
    /* sizes */
    --logo-width: 36px;
    --logo-height: 12px;
    /* global offsets */
    --button-align: -6px;
    --offset-l: 31px;
}